<div class="login-container">
    <div class="screen-filter">
        <div class="uk-section uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                        <div class="uk-width-1-1@m">
                            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    
                                <div class=" uk-text-center uk-padding-small">
                                    <img style="width: 200px;" src="assets/img/emp-logo.png" />
                                    <h3>Employee management</h3>
                                </div>                
                                <form [formGroup]="loginForm">
                                    <div class="uk-margin">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-user"></i>
                                            </span>
                                            <input pInputText formControlName="username" placeholder="Username" />
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-key"></i>
                                            </span>
                                            <input pInputText formControlName="password" placeholder="password" />
                                        </div>
                                    </div>

                                    <div>
                                        <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
                                    </div>

                                    <div class="uk-margin">
                                        <p-button label="Login" [disabled]="loginForm.invalid" (onClick)="loginValidation()" size="large"></p-button>
                                    </div>
                                    <div class="uk-text-small uk-text-center">
                                        Hint <br>
                                        username : galang_setiawan <br>
                                        password : galang123
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
<p-toast></p-toast>
