


<div>
  <ul class="uk-child-width-expand" uk-tab>
      <li [class.uk-active] = "activeIndex === 0"><a (click)="activeIndex = 0">Data pribadi</a></li>
      <li [class.uk-active] = "activeIndex === 1"><a (click)="activeIndex = 1">Data kepegawaian</a></li>
  </ul>
</div>




<ng-container *ngIf="activeIndex == 0">

  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>


  <div class="row mt-4">
    <div class="col-md-12">

      <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
          <h3 class="uk-card-title">Biodata</h3>
          


          <form [formGroup]="dataPribadiForm">

              <div class="row">
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <input type="text" id="nik" pInputText formControlName="nik"> 
                        <label for="nik">NIK *</label>
                      </span>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="p-field ">
                    <span class="p-float-label">
                      <input type="text" id="firstName" pInputText formControlName="firstName"> 
                      <label for="firstName">Nama depan *</label>
                    </span>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="p-field ">
                    <span class="p-float-label">
                      <input type="text" id="lastName" pInputText formControlName="lastName"> 
                      <label for="lastName">Nama belakang</label>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <input type="text" id="countryBirth" pInputText formControlName="countryBirth"> 
                        <label for="countryBirth">Kota lahir *</label>
                      </span>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                          <p-calendar 
                              id="birthDate"
                              formControlName="birthDate"
                              appendTo="body"
                              [showIcon]="true">
                          </p-calendar>
                          <label for="birthDate">Tanggal lahir *</label>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <p-dropdown
                          id="gender"
                          name="gender"
                          formControlName="gender"
                          [showClear]="true"
                          appendTo="body"
                          [options]="jenisKelaminList"
                          placeholder="Jenis kelamin"
                          [optionLabel]="'nama'">
                        </p-dropdown>
                        <label for="gender">Jenis kelamin *</label>
                      </span>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <p-dropdown
                          id="agama"
                          name="agama"
                          formControlName="agama"
                          [showClear]="true"
                          appendTo="body"
                          [options]="agamaList"
                          placeholder="Agama"
                          [optionLabel]="'nama'">
                        </p-dropdown>
                        <label for="agama">Agama *</label>
                      </span>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <p-dropdown
                          id="marriageStatus"
                          name="marriageStatus"
                          formControlName="marriageStatus"
                          [showClear]="true"
                          appendTo="body"
                          [options]="statusPernikahanList"
                          placeholder="Status pernikahan"
                          [optionLabel]="'nama'">
                        </p-dropdown>
                        <label for="marriageStatus">Status pernikahan *</label>
                      </span>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <input type="text" id="identityNumber" pInputText placeholder="16 digit nomor KTP" formControlName="identityNumber"> 
                        <label for="identityNumber">Nomor KTP *</label>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <p-dropdown
                          id="ptkpStatus"
                          name="ptkpStatus"
                          formControlName="ptkpStatus"
                          [showClear]="true"
                          appendTo="body"
                          [options]="statusPtkpList"
                          placeholder="Status PTKP"
                          [optionLabel]="'code'">
                        </p-dropdown>
                        <label for="ptkpStatus">Status PTKP *</label>
                      </span>
                    </div>
                  </div>
                </div>

          </form>


      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">

        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
            <h3 class="uk-card-title">Informasi kontak</h3>
            


            <form [formGroup]="dataPribadiForm">

                <div class="row">
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <p-inputMask mask="(999) 999-999-999"  id="telpNumber" formControlName="telpNumber" placeholder="(999) 999-999-999"></p-inputMask>
                        <label for="telpNumber">Nomor telepon</label>
                      </span>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <p-inputMask mask="(999) 999-999-999"  id="hanphoneNumber" formControlName="hanphoneNumber" placeholder="(999) 999-999-999"></p-inputMask>
                        <label for="hanphoneNumber">Nomor handphone *</label>
                      </span>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="p-field ">
                      <span class="p-float-label">
                        <input type="text" id="email" pInputText formControlName="email"> 
                        <label for="email">Email *</label>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-12">
                    <p-checkbox formControlName="isDiffDomicili" [binary]="true"  inputId="isDiffDomicili"></p-checkbox>
                    <label for="isDiffDomicili">&nbsp; Alamat KTP dan alamat domisili berbeda</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <textarea rows="5" cols="30" id="idAddress" pInputTextarea formControlName="idAddress"></textarea>
                            <label for="idAddress">Alamat KTP</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="idProvinsi"
                              name="idProvinsi"
                              formControlName="idProvinsi"
                              (onChange)="onProvinsiChange($event)"
                              [showClear]="true"
                              appendTo="body"
                              [options]="provinsiList"
                              placeholder="Provinsi"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="idProvinsi">Provinsi</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="idKabupaten"
                              name="idKabupaten"
                              formControlName="idKabupaten"
                              (onChange)="onKabupatenChange($event)"
                              [showClear]="true"
                              appendTo="body"
                              [options]="kabupatenList"
                              placeholder="Kabupaten"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="idKabupaten">Kabupaten</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="idKecamatan"
                              name="idKecamatan"
                              formControlName="idKecamatan"
                              (onChange)="onKecamatanChange($event)"
                              [showClear]="true"
                              appendTo="body"
                              [options]="kecamatanList"
                              placeholder="Kecamatan"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="idKecamatan">Kecamatan</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="idKelurahan"
                              name="idKelurahan"
                              formControlName="idKelurahan"
                              [showClear]="true"
                              appendTo="body"
                              [options]="kelurahanList"
                              placeholder="Kelurahan"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="idKelurahan">Kelurahan</label>
                          </span>
                        </div>
                      </div>
                    </div>


                  </div>

                  <div class="col-md-6" *ngIf="dataPribadiForm.value.isDiffDomicili">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <textarea rows="5" cols="30" id="domiciliAddress" pInputTextarea formControlName="domiciliAddress"></textarea>
                            <label for="domiciliAddress">Alamat domisili</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="domiciliProvinsi"
                              name="domiciliProvinsi"
                              formControlName="domiciliProvinsi"
                              (onChange)="onProvinsiChange($event)"
                              [showClear]="true"
                              appendTo="body"
                              [options]="provinsiList"
                              placeholder="Provinsi"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="domiciliProvinsi">Provinsi</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="domiciliKabupaten"
                              name="domiciliKabupaten"
                              formControlName="domiciliKabupaten"
                              (onChange)="onKabupatenChange($event)"
                              [showClear]="true"
                              appendTo="body"
                              [options]="kabupatenList"
                              placeholder="Kabupaten"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="domiciliKabupaten">Kabupaten</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="domiciliKecamatan"
                              name="domiciliKecamatan"
                              formControlName="domiciliKecamatan"
                              (onChange)="onKecamatanChange($event)"
                              [showClear]="true"
                              appendTo="body"
                              [options]="kecamatanList"
                              placeholder="Kecamatan"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="domiciliKecamatan">Kecamatan</label>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="p-field ">
                          <span class="p-float-label">
                            <p-dropdown
                              id="domiciliKelurahan"
                              name="domiciliKelurahan"
                              formControlName="domiciliKelurahan"
                              [showClear]="true"
                              appendTo="body"
                              [options]="kelurahanList"
                              placeholder="Kelurahan"
                              [optionLabel]="'nama'">
                            </p-dropdown>
                            <label for="domiciliKelurahan">Kelurahan</label>
                          </span>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>

                

            </form>


        </div>

    </div>
  </div>

</ng-container>

<ng-container *ngIf="activeIndex == 1">
  <div class="row mt-4">
    <div class="col-md-12">

      <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">

        <h3 class="uk-card-title">Data kepegawaian</h3>
        <form [formGroup]="dataKepegawaianForm">

          <div class="row">
            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-calendar 
                    id="startWorkingDate"
                    formControlName="startWorkingDate"
                    appendTo="body"
                    [showIcon]="true">
                  </p-calendar>
                  <label for="startWorkingDate">Tanggal masuk kerja *</label>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-dropdown
                    id="employeeStatus"
                    name="employeeStatus"
                    formControlName="employeeStatus"
                    [showClear]="true"
                    (onChange)="onStatusKepegawaianChange($event)"
                    appendTo="body"
                    [options]="statusKepegawaianList"
                    placeholder="Status kepegawaian"
                    [optionLabel]="'nama'">
                  </p-dropdown>
                  <label for="employeeStatus">Status kepegawaian *</label>
                </span>
              </div>
            </div>

            <div class="col-md-4" *ngIf="showInputContractDate">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-calendar 
                    id="startContractDate"
                    formControlName="startContractDate"
                    appendTo="body"
                    placeholder="Tanggal awal kontrak"
                    [showIcon]="true">
                  </p-calendar>
                  <label for="startContractDate">Tanggal awal kontrak *</label>
                </span>
              </div>
            </div>

            <div class="col-md-4" *ngIf="showInputContractDate">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-calendar 
                    id="endContractDate"
                    formControlName="endContractDate"
                    placeholder="Tanggal akhir kontrak"
                    appendTo="body"
                    [showIcon]="true">
                  </p-calendar>
                  <label for="endContractDate">Tanggal akhir kontrak *</label>
                </span>
              </div>
            </div>

          </div>

          <div class="row">
            
            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <input type="text" id="position" pInputText formControlName="position"> 
                  <label for="position">Jabatan *</label>
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-dropdown
                    id="departement"
                    name="departement"
                    formControlName="departement"
                    [showClear]="true"
                    appendTo="body"
                    [options]="departemenList"
                    placeholder="Departemen"
                    [optionLabel]="'nama'">
                  </p-dropdown>
                  <label for="departement">Departemen *</label>
                </span>
              </div>
            </div>
            
          </div>

        </form>

      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">

      <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">

        <h3 class="uk-card-title">Data penggajian</h3>
        <form [formGroup]="dataKepegawaianForm">

          <div class="row">
            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-inputNumber formControlName="basicSalary" inputId="basicSalary" prefix="Rp"> </p-inputNumber>
                  <label for="basicSalary">Gaji *</label>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <p-dropdown
                    id="bankRekening"
                    name="bankRekening"
                    formControlName="bankRekening"
                    [showClear]="true"
                    appendTo="body"
                    [options]="bankList"
                    placeholder="Bank"
                    [optionLabel]="'name'">
                  </p-dropdown>
                  <label for="bankRekening">Bank *</label>
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <input type="text" id="namaRekening" pInputText formControlName="namaRekening"> 
                  <label for="namaRekening">Nama rekening *</label>
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="p-field ">
                <span class="p-float-label">
                  <input type="text" id="nomorRekening" pInputText formControlName="nomorRekening"> 
                  <label for="nomorRekening">Nomor rekening *</label>
                </span>
              </div>
            </div>
          </div>



        </form>

      </div>
    </div>
  </div>

</ng-container>

<div class="row mt-3 mb-3">
  <div class="col-md-3">
    <button pButton pRipple  class="p-button-outlined" (click)="batal()"> 
      <span>Kembali</span>
    </button>

  </div>
</div>